form{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
  button{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px lighten(black, 30);
    font-weight: 600;
    &:hover{
      background-color: darken(white, 20);
    }
    &:disabled{
      background-color: lighten($color: #000000, $amount: 60%);
      color: white;
    }
  }
  .error{
    color: red;
  }
}