.galleryContainer{
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .galleryImage{
    cursor: pointer;
    height: 150px;
    overflow: hidden;
    display: flex;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.imageModal{
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modalContainer{
    display: flex;
  }
  .imageContainer{
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    .image{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .buttonModal{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    color: white;
  }
  button{
    background-color: transparent;
    font-size: 24px;
    outline: none;
    &:disabled{
      .arrow_icon{
        color: rgba(255,255,255,.5);
        cursor: not-allowed;
      }
    }
  }
  .arrow_icon{
    color: white;
    font-size: 80px;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px){
  .galleryContainer{
    grid-template-columns: repeat(2, 1fr);
  }
  .imageModal{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  button{
    background-color: transparent;
    font-size: 24px;
    outline: none;
    &:disabled{
      .arrow_icon{
        color: rgba(255,255,255,.5);
        cursor: not-allowed;
      }
    }
  }
}